body {
}

header {
	background-color: lightblue;
	height: 75px;
	padding-top: 30px;
}
main {
    margin-left: 20px;

}
h1 {
	margin: 0;
	text-align: center;
	image-align: margin-left;
}

img {
float: left;
border-width: 1em;
border-style: groove;
border-color: #000000;
}




article h3{
	background-color:  lightgray;
	padding: 5px;
	margin:0;

}

article {
  margin-left: 10px;
}

aside {
	width: 300px;
	display: inline-block;
	border: solid;
	border-width: 3px;



}

footer {
     padding-left: 10;
     margin-left: 10;

}


